{% extends "network/layout.html" %}

{% block body %}
<div class="title-container">
    <h3>All Posts</h3>
</div>
<div class="comment-section container mt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-8">
      {% for post in page_object %}
      <div class="card p-3 mt-2">
        <div>{{post.username}}</div>
        {% if user.id == post.user.id %}
        <div><a href="{% url 'edit-post' post.id %}">Edit</a></div>
        {% endif %}
        {% if post.id == postId %}
        <!-- Edit post form -->
        <div class="row d-flex justify-content-center" id="edit-post">
         <form>
         <!--{% csrf_token %}-->
            <div class="form-group">
                <textarea class="form-control" name="text" id="newPost" placeholder="{{post.text}}" rows="3" cols="50"></textarea>
                <input type="hidden" id="postId" value="{{post.id}}">
            </div>
             <button class="btn btn-primary" id="save" type="submit">Save</button>
        </form>
       </div>
       {% else %}
       <div id="text">{{post.text}}</div>
       {% endif %}
        <div>{{post.time_stamp}}</div>
        <div><span class="image"><img src="static/images/heart.jpg"/></span>{{post.likes}}</div>
        <div>Comment</div>
       </div>
      {% endfor %}
    </div>
  </div>
</div>
<div class="page-nav-container">
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% if page_object.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{page_object.previous_page_number}}" tabindex="-1">Previous</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
    </li>
    {% endif %}
    {% if page_object.has_next %}
    <li>
      <a class="page-link" href="?page={{page_object.next_page_number}}">Next</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
    </li>
    {% endif %}
  </ul>
</nav>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function() {

  document.querySelector('#save').addEventListener('click', () => save_post);

});

function save_post() {

    let newPost = document.querySelector('#newPost').value;
    let postId = document.querySelector('#postId').value;

    fetch(`save/${postId}`, {
       method:'PUT',
       body:JSON.stringify({
           text:newPost
       })
    });

    document.querySelector('#edit-post').removeAttribute('class');
    document.querySelector('#edit-post').innerHTML = newPost;
}
</script>
{% endblock %}